.footer {
    position: fixed;
    left: 0px;
    bottom: 10px;
    height: 80px;
    width: 100%;
    text-align: center;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icon {
    padding-right: 8px;
}