.container {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#portfolio {
    text-decoration: underline;
}

h1 {
    font-size: 40px;
}

h2 {
    text-align: center;
}

#ptag {
    margin-bottom: 30px;
}

#site-link {
    margin-top: 20px;
    margin-bottom: 20px;
    color: blue;
    font-weight: 400;
    text-decoration: none;
}

#site-link:hover {
    color: red;
}